/* Existing CSS here... */

/* Custom CSS for laporan-pendapatan.html */
#tanggal-form {
    margin-bottom: 20px;
}

#laporan-container {
    margin-top: 20px;
    max-height: 1000px; /* Atur tinggi maksimum yang diinginkan */
    overflow-y: scroll; /* Munculkan scroller vertikal jika perlu */
}

#laporan-table {
    margin-top: 20px;
    max-height: 10px; /* Atur tinggi maksimum yang diinginkan */
    overflow-y:50px; /* Munculkan scroller vertikal jika perlu */
}

table {
    width: 100%;
    border-collapse: collapse;
    max-height: 10px; /* Atur tinggi maksimum yang diinginkan */
    overflow-y:5px; /* Munculkan scroller vertikal jika perlu */
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}
