<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Pelanggan Baru - UKM Newci</title>
    <link rel="stylesheet" href="css/tambah-pelanggan.css">
</head>
<body>
    <header>
        <h1>Tambah Pelanggan Baru</h1>
    </header>
    <div class="sidebar">
        <ul>
            <li><a href="dashboard">Dashboard</a></li>
            <li><a href="kelola-mesin-cuci">Kelola Mesin Cuci</a></li>
            <li><a href="kelola-pelanggan">Kelola Pelanggan</a></li>
        
            <li><a href="laporan">Laporan Pendapatan</a></li>
        </ul>
    </div>
    <main>
        <h2>Informasi Pemesan</h2>
        <form id="tambah-pelanggan-form">
            <label for="nama">Nama:</label>
            <input type="text" id="nama" name="nama" required>
            <label for="nohp">No HP:</label>
            <input type="text" id="nohp" name="nohp" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>  
            <button type="submit">Submit</button>
        </form>
    </main>
    <script>
    </script>
</body>
</html>
